name: 'Terraform GitHub Actions'
on:
  push:
    branches:
      - main
env:
  tf_version: 'latest'
  tf_working_dir: '.'
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  terraform:
    environment: main
    name: 'Terraform'
    runs-on: ubuntu-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ap-southeast-2
          role-to-assume: arn:aws:iam::143841941773:role/github
          role-session-name: Terraform
      - uses: hashicorp/setup-terraform@v1
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: Terraform fmt
        id: fmt
        run: terraform fmt
        continue-on-error: true
      - uses: EndBug/add-and-commit@v7
        with:
          message: Terraform fmt [skip ci]
          committer_name: GitHub Actions
          committer_email: actions@github.com   
      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Apply
        id: apply
        run: terraform apply -input=false -auto-approve
        continue-on-error: true
