name: 'Terraform GitHub Actions'
on:
  push:
    branches:
      - main
env:
  tf_version: 'latest'
  tf_working_dir: '.'
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
jobs:
  terraform:
    environment: main
    name: 'Terraform'
    runs-on: ubuntu-latest
    steps:
      - uses: hashicorp/setup-terraform@v1
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true
      - uses: EndBug/add-and-commit@v7
        with:
          message: Terraform fmt [skip ci]
          committer_name: GitHub Actions
          committer_email: actions@github.com
      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Apply
        id: apply
        run: terraform apply -input=false -auto-approve
        continue-on-error: true
